*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.navbar{
	background-color: rgba(51, 51, 0, 0.6);
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
/* Reuse */
.header-logo{
	font-family: 'Tourney', cursive;
	color: red;
}
.header-logo:after{
	display: block;
	height: 4px;
    background-color: red;
    width: 220px;
    content: " ";
    margin: 0 auto;
    margin-top: 5px;
}

/*Header */
.logo{
	height: 70px;
	width: auto;
}

#header1{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/header1.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header1.jpg);
	height: 100vh;
	background-attachment: fixed;
    background-size: cover;
	background-position: 0% 0%;
	margin-bottom: 0px;
	-webkit-animation: mymove 30s infinite;
	animation: mymove 30s infinite;
}
#header{
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/header.jpeg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpeg);
	height: 100vh;
	background-attachment: fixed;
    background-size: cover;
	background-position: 0% 0%;
	margin-bottom: 0px;
	-webkit-animation: mymove 30s infinite;
	animation: mymove 30s infinite;
}
/*contact*/
.form-control {
  border: none;
  border-bottom: 2px solid blue;
  border-radius: 0 !important;
}
/*galary*/
.cf-showcase{
	display: flex;
}
.cf-showcase .list{
	width: 33%;
	margin: 20px;
}
.cf-galary{
   display: relative;
}
.cf-galary img{
	display: relative;
	width: 100%;
	height: 300px;
	border-radius: 10px;
}
.cf-galary img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
}
.list{
	list-style: none;
}
.head{
	position: relative;
	top: 40%;
}
.galary{
	margin-top: 70px;
}
.service-img{
	height: 100px;
	width: 100px;
}
.service_detail{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	padding: 20px;
	color: white;
}
.service_detail:hover{
	background-color: white;
	border-radius: 10px;
	color: black;
}
.section{
	padding-top: 55px;
}
.text-white{
	font-family: 'Abril Fatface', cursive;
}
.Hero-text{
	font-size: 80px;
}
/*----big phone to 360 small phone----- */
@media(max-width: 480px){
	.brand-nam{
		width: auto !important;
		padding-right: 0;
		padding-top: 20px;
	}
	#header1 {
		background-position: center;
	}
	#header{
	background-position: 80% 0%;
}
	.Hero-text-h{
		margin-left: 10px !important;
		margin-top: 80px !important;
	}
	.Hero-text{
		font-size: 50px;
	}
	.header-logo{
		margin-left: 0px;
	}
	.cf-showcase{
	display: block;
}
.cf-showcase .list{
	width: 90%;
}
.card-1{
	padding: 0 !important;
}
.form-control{
	padding: 0 !important;
}
.about-img{
	margin-bottom: 40px;
}
.card-middle{
	margin-top: 10px;
	margin-bottom: 10px;
}
}